#users-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100vh;
    padding: 20px;
    gap:15px;
}

.user{
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.user.clicked{
    border: 5px solid rgb(239, 165, 3);
    
}
.user:hover {
    transform: translateX(5px);
}